<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Notifications 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
    <ion-list-header>
        Today
    </ion-list-header>
    
    <ion-item>
        <ion-avatar slot="start">
            <img src="../../assets/toddler_180803-B2C-5345_1176x882.jpg">
        </ion-avatar>
        <ion-label>Eric Cartman</ion-label>
        <p>Cannot drink milk this week. Please check what he takes from the cafetria.</p>
    </ion-item>
    <ion-item>
        <ion-avatar slot="start">
            <img src="../../assets/toddler_180803-B2C-5345_1176x882.jpg">
        </ion-avatar>
        <ion-label>Mina Ashido</ion-label>
        <p>Needs to take medicine in bag during lunch hour.</p>
    </ion-item>
    <ion-item>
        <ion-avatar slot="start">
            <img src="../../assets/toddler_180803-B2C-5345_1176x882.jpg">
        </ion-avatar>
        <ion-label>Nancy Drew</ion-label>
        <p>Had a stomach ache this mroning. Please call her aunt at xxx-xxxx if it persists.</p>
    </ion-item>

    <ion-list-header>
        Last Week
    </ion-list-header>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../assets/toddler_180803-B2C-5345_1176x882.jpg">
        </ion-avatar>
        <ion-label>Eric Cartman</ion-label>
        <p>Had diarrhoea last night. Complained of a mild belly ache this morning.</p>
    </ion-item>

    <ion-item>
        <ion-avatar slot="start">
            <img src="../../assets/toddler_180803-B2C-5345_1176x882.jpg">
        </ion-avatar>
        <ion-label>Nancy Drew</ion-label>
        <p>Had a mild nose bleed this morning. Look out for repeat occurrence.</p>
    </ion-item>

</ion-list>
