<ion-header>
    <ion-toolbar color="secondary">
    <ion-title>Logs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div id="inter_tabs" style="border: 1px solid black">
    <ion-tabs>
        <ion-tab-bar slot="top">
          <ion-tab-button [routerLink]="['/teacher/student-overview', id]">
            <ion-icon name="overview"></ion-icon>
            <ion-label>Overview</ion-label>
          </ion-tab-button>
      
          <ion-tab-button [routerLink]="['/teacher/student-alerts', id]">
            <ion-icon name="alerts"></ion-icon>
            <ion-label>Alerts</ion-label>
          </ion-tab-button>

          <ion-tab-button [routerLink]="['/teacher/student-logs', id]">
              <ion-icon name="logs"></ion-icon>
              <ion-label>Logs</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
</div>

  <ion-button id="logsCard" [routerLink]="['/teacher/form', id]" expand="full" color = "highlight" >New Log</ion-button>

  <div id="profileCard">
    <ion-list *ngFor="let log of logs">
      <a>
        <ion-item [routerLink]="['/teacher/student-log', log.logID]" >
      <ion-avatar slot="start">
          <img src={{log.image}}>
        </ion-avatar>
        <ion-label>
          <h2><b>{{log.logDetails}}</b></h2>
          <p>{{log.date}}</p>
           <p>{{log.user}}</p>
        </ion-label> 
      </ion-item>
    </a>
</ion-list>
</div>

</ion-content>
