<ion-header>
    <ion-toolbar color="secondary">
    <ion-title>Logs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div id="inter_tabs" style="border: 1px solid black">
    <ion-tabs>
        <ion-tab-bar slot="top">
          <ion-tab-button [routerLink]="['/teacher/student-overview', id]">
            <ion-icon name="overview"></ion-icon>
            <ion-label>Overview</ion-label>
          </ion-tab-button>
      
          <ion-tab-button [routerLink]="['/teacher/student-alerts', id]">
            <ion-icon name="alerts"></ion-icon>
            <ion-label>Alerts</ion-label>
          </ion-tab-button>

          <ion-tab-button [routerLink]="['/teacher/student-logs', id]">
              <ion-icon name="logs"></ion-icon>
              <ion-label>Logs</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
</div>

  <ion-card id="logsCard">
  <ion-button id="addButton" color="secondary" expand="full" [routerLink]="['/teacher/form', id]">New Log</ion-button>
    <ion-list>
      <ion-item>
        <ion-note>
          <h4>Date</h4>
          <h5>By</h5>
            <p> Details</p>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-note>
          <h4>Date</h4>
          <h5>By</h5>
            <p> Details</p>
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
