<ion-tabs>
  <ion-tab-bar slot="bottom" color="light">
<ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Messages</ion-label>
      <ion-badge>5</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notifications</ion-label>
      <ion-badge>36</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>