<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-button [routerLink]="['/parent/logs', childid]"><ion-icon name="arrow-back"></ion-icon></ion-button>
        </ion-buttons>
    <ion-title>Notes</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" >
    
      <ion-card *ngIf="logdetails">
        
        {{logtime}}
        <h1>{{logdetails}}</h1>
      </ion-card>
      <ion-card *ngFor="let not of notes">
        <p>{{not.note}}</p>
      </ion-card>
  </div>
</ion-content>

<ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="openPopover()" color="secondary">
      <ion-icon name="add"></ion-icon>
</ion-fab-button>
</ion-fab>
