<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/parent/logs', childid]"
        ><ion-icon name="arrow-back"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title>Log Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" >
    
      <ion-card id="logs"  *ngIf="logdetails">
          <ion-card-header>
            <ion-card-title>{{logdetails}}</ion-card-title>
            <ion-card-subtitle>{{logtime}}</ion-card-subtitle>
        </ion-card-header>
        
      </ion-card >

      <ion-card id="notes" *ngFor="let not of notes">
          <ion-card-content>{{not.note}}</ion-card-content>
      </ion-card>
  </div>
</ion-content>

<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button (click)="openPopover()" color="secondary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
