<ion-header *ngFor="let child of children | async">
  <ion-toolbar color="secondary">
  <ion-buttons slot="start">
      <ion-button [routerLink]="['/teacher/student-logs', id]" ><ion-icon name="arrow-back"></ion-icon> Back</ion-button>
    </ion-buttons>
    <ion-title>New log for {{child.firstName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
 <ion-card-header>
    <ion-card-title>Description</ion-card-title>
  </ion-card-header>
<ion-card-content>   
<form>
<ion-textarea  [(ngModel)]="data" name="first" placeholder="Please describe incident." required="true"></ion-textarea>

<ion-button (click)="capture_Data()" type="submit" color="secondary" expand="full" >Submit</ion-button>  
</form>
</ion-card-content>
</ion-card>


</ion-content>
