<ion-header translucent>
  <ion-toolbar>
    <ion-title>Students</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
<ion-list-header>
      Recent Conversations
    </ion-list-header>

    <ion-item href="https://www.ionicframework.com">
      <ion-avatar slot="start">
        <img src="../../assets/toddler_180803-B2C-5345_1176x882.jpg">
      </ion-avatar>
      <ion-label>Joseph Anderson</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/toddler_180803-B2C-5345_1176x882.jpg">
      </ion-avatar>
      <ion-label>Mina Ashido</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Craig Bhagwan</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Betty Boop</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Betty Boop</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Betty Boop</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Betty Boop</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Betty Boop</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Betty Boop</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Betty Boop</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Betty Boop</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Betty Boop</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Betty Boop</ion-label>
    </ion-item>
</ion-list>

