<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-back-button text="back" icon="add"></ion-back-button>
      </ion-buttons>
    <ion-title>Students</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
<ion-card>
  <ion-list>
    
     <ion-item *ngFor="let child of children | async" [routerLink]="['/teacher/student-overview', child.childID]">  
      <ion-avatar slot="start" >
      <img src={{child.imageLink}}>
      </ion-avatar>
        <ion-note>
        <h4>
        {{child.firstName}} {{child.lastName}}
        </h4> 
        </ion-note>
    </ion-item>
  </ion-list>
</ion-card>
</ion-content>
