<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-back-button text="back" icon="add"></ion-back-button>
      </ion-buttons>
    <ion-title>Log Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

<div *ngIf="log">
<ion-card id="log_card">
       <ion-item>
            <ion-avatar slot="start">
                <img src={{log.image}}>
            </ion-avatar>
              <ion-label>
                <h3>Sender: {{log.user}}</h3>
                <h3>Date: {{log.date}}</h3>
              </ion-label>
      </ion-item>
        <ion-card-content>   
            <ion-note>
                <p>{{log.logDetails}}</p>
            </ion-note>
        </ion-card-content>
</ion-card>
<ion-card id="reply_card" *ngIf="log.notes">
<ion-card-header color="secondary">
  <ion-card-title>Parent Note</ion-card-title>
</ion-card-header>
<ion-card-content id="reply_content" *ngFor="let note of log.notes">
  <ion-item>
  <ion-avatar slot="start">
                <img src="https://cdn.pixabay.com/photo/2012/04/28/18/26/hearts-43887_960_720.png">
            </ion-avatar>
      <ion-label>
          <h3>Sender:</h3>
          <h3>Date: {{note.date}}</h3>
      </ion-label>
  </ion-item>  
       <ion-note>
                <p>{{note.note}}</p>
        </ion-note>
  </ion-card-content>
</ion-card>
</div>
</ion-content>

