<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-back-button text="back" icon="add"></ion-back-button>
      </ion-buttons>
    <ion-title>Message Title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

<ion-card>
       <ion-item>
            <ion-avatar slot="start">
                <img src="https://secure.i.telegraph.co.uk/multimedia/archive/03127/terry_crews_3127762b.jpg">
            </ion-avatar>
              <ion-label>
                <h3>Sender</h3>
                <h3>Date</h3>
              </ion-label>
      </ion-item>
        <ion-card-content>   
            <ion-note>
                <p>Details Details Details Details Details Detais...</p>
            </ion-note>
        </ion-card-content>
</ion-card>

</ion-content>

