<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-back-button text="back" icon="add"></ion-back-button>
      </ion-buttons>
    <ion-title>Message Title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

<ion-card>
       <ion-item >
            <ion-avatar slot="start">
                <img src="https://cdn.pixabay.com/photo/2012/04/28/18/26/hearts-43887_960_720.png">
            </ion-avatar>
              <ion-label>
                <h3>Sender</h3>
                <h3>Date</h3>
              </ion-label>
      </ion-item>
        <ion-card-content>   
            <ion-note>
                <p>Details Details Details Details Details Detais...</p>
            </ion-note>
        </ion-card-content>
</ion-card>

</ion-content>

