<ion-header>
  <ion-toolbar>
    <ion-title>Logs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="inter_tabs" style="border: 1px solid black">
    <ion-tabs>
        <ion-tab-bar slot="top">
          <ion-tab-button href="/parent/overview/{{id}}">
            <ion-icon name="overview"></ion-icon>
            <ion-label>Overview</ion-label>
          </ion-tab-button>
      
          <ion-tab-button href="/parent/overview/{{id}}" >
            <ion-icon name="alerts"></ion-icon>
            <ion-label>Alerts</ion-label>
          </ion-tab-button>

          <ion-tab-button href="/parent/overview/{{id}}">
              <ion-icon name="logs"></ion-icon>
              <ion-label>Logs</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </div>



      <ion-card id="profileCard" *ngFor="let log of logData | async">
        <h1>{{log.logDetails}}</h1>
      </ion-card>

</ion-content>
