<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-button [routerLink]="['/parent/overview', id]"><ion-icon name="arrow-back"></ion-icon></ion-button>
        </ion-buttons>
    <ion-title>Logs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="inter_tabs" style="border: 1px solid black">
    <ion-tabs>
        <ion-tab-bar slot="top">
          <ion-tab-button [routerLink]="['/parent/overview', id]">
            <ion-icon name="overview"></ion-icon>
            <ion-label>Overview</ion-label>
          </ion-tab-button>
      
          <ion-tab-button [routerLink]="['/parent/alerts', id]" >
            <ion-icon name="alerts"></ion-icon>
            <ion-label>Alerts</ion-label>
          </ion-tab-button>

          <ion-tab-button [routerLink]="['/parent/logs', id]">
              <ion-icon name="logs"></ion-icon>
              <ion-label>Logs</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
      </div>

  <div id="profileCard">
    <ion-list>
      <a [routerLink]="['/parent/log', log.logID]"  *ngFor="let log of logs | async">
        <ion-item>
      <ion-avatar slot="start">
          <img src="https://cdn.pixabay.com/photo/2012/04/28/18/26/hearts-43887_960_720.png">
        </ion-avatar>
        <ion-label>
          <h2><b>{{log.logDetails}}</b></h2>
          <p>{{log.dateago}}</p>
        </ion-label> 
      </ion-item>
    </a>
</ion-list>

    <div id="profileCard" *ngIf="!hasLogs">
      no logs
    </div>
  </div>
</ion-content>


