<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-button routerLink="/parent"><ion-icon name="arrow-back"></ion-icon></ion-button>
        </ion-buttons> <ion-title style="text-align:center;">Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
     
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
          <ion-label>Gave them the medication</ion-label>
          <ion-badge color="primary">1 day ago</ion-badge>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
          <ion-label>How is he?</ion-label>
          <ion-badge color="primary">5 days ago</ion-badge>
        </ion-item>
       

      </ion-list>
      

</ion-content>
