<ion-header>
  <ion-toolbar color="secondary">
     <ion-buttons slot="start">
        
      <ion-button routerLink="/parent"><ion-icon name="arrow-back"></ion-icon> Back</ion-button>
    </ion-buttons>
    <ion-title>Overview</ion-title>
  </ion-toolbar>
 
  
</ion-header>


<ion-content>
  <div id="inter_tabs" style="border: 1px solid black">
    <ion-tabs>
        <ion-tab-bar slot="top">
          <ion-tab-button [routerLink]="['/parent/overview', id]">
            <ion-icon name="overview"></ion-icon>
            <ion-label>Overview</ion-label>
          </ion-tab-button>
      
          <ion-tab-button [routerLink]="['/parent/alerts', id]" >
            <ion-icon name="alerts"></ion-icon>
            <ion-label>Alerts</ion-label>
          </ion-tab-button>

          <ion-tab-button [routerLink]="['/parent/logs', id]">
              <ion-icon name="logs"></ion-icon>
              <ion-label>Logs</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
      </div>
     
<div *ngFor="let child of childData | async">
<ion-card id="profileCard">
      <ion-card-header id="profile_header">
          <div id="profile_img"><img src="{{child.imageLink}}" alt=""></div>
          <ion-card-title>{{child.firstName}}  {{child.lastName}}</ion-card-title>
        </ion-card-header>
        
        <ion-card-content id="profile_content"> 
          <ion-label  >Age: {{child.age}} <span class="dot"></span> Grade: {{child.grade}} <span class="dot"></span> Class: A5 </ion-label>
           <div *ngFor="let user of child.users" >
          <p *ngIf ="user.role=='teacher'">Teacher: {{user.name}}</p>
          </div>
          
        </ion-card-content>
      </ion-card>
        
      <!-- BASIC INFORMATION CARD -->
      <ion-card *ngFor="let child of childData | async">
        <ion-card-header color="secondary">
            <ion-card-title >Basic Information</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>

          <!-- PERSONAL INFORMATION SECTION -->
          <div class="section">
            <ion-card-title >Personal Information</ion-card-title>
            <ion-item>
              <ion-icon name="person"></ion-icon>

              <ion-label>
                Birthday: {{child.dateOfBirth}}
              </ion-label>
            </ion-item>
          </div>

          <!-- FAMILY INFORMATION SECTION -->
          <div class="section">
            <ion-card-title >Parent/Gaurdian Information</ion-card-title>
            <div *ngFor="let user of child.users">
            <ion-item  *ngIf ="user.role=='parent'">
              <ion-icon name="person"></ion-icon>
              <ion-label>
              {{user.name}}
              </ion-label>
            </ion-item>
          </div>
          </div>

        </ion-card-content>
      </ion-card>

    <!-- MEDICAL CONDITIONS CARD -->
    <ion-card>
      <ion-card-header color="secondary">
        <ion-card-title >Health Conditions</ion-card-title>
      </ion-card-header>

      <ion-card-content>


        <div class="section">
          <ion-card-title >Conditions</ion-card-title>
          <ion-item *ngFor="let condition of child.condition">
              <ion-icon name="medkit"></ion-icon>
            <ion-label>
               {{condition}}
            </ion-label>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>
</div>

      
</ion-content>

