<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
    <a href="parent/overview/timmy">
<ion-card  style="height: 200px; background-color: rgb(0, 255, 42)">
  
    <div class="card-title">Timmy</div>
  
</ion-card>
</a>

<a href="parent/overview/cimone">
<ion-card style="height: 200px; background-color: yellow">
  <div class="card-title">Cimone</div>
</ion-card>
</a>
<a href="parent/overview/sarah">
<ion-card style="height: 200px; background-color: crimson">
  <div class="card-title">Sarah</div>
</ion-card>
</a>
<ion-card style="height: 200px; background-color: yellow">
  <div class="card-title">Cimone</div>
</ion-card>
<ion-card style="height: 200px; background-color: crimson">
  <div class="card-title">Sarah</div>
</ion-card>





</ion-content>

