<ion-header>
  <ion-toolbar color = "secondary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="margin-top: 700px;">
    <div id="container"> 
        
       <div id="header">
          <img src="https://cdn.pixabay.com/photo/2012/04/28/18/26/hearts-43887_960_720.png" alt="Logo image">
          <h1>Hello there!</h1>
          <h2>Welcome</h2>
          <p>Sign in to get started!</p>

       </div>

      <div id="box">
    <ion-item>
      <ion-label>
        Email:
      </ion-label>
      <ion-input
        type="email"
        placeholder="Email"
        [(ngModel)]="user.email"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Password:
      </ion-label>
      <ion-input
        type="password"
        placeholder="password"
        [(ngModel)]="user.password"
      ></ion-input>
    </ion-item>
    <ion-button color = "highlight" (click)="login()">Login</ion-button>
</div>

  

    </div>
</ion-content>
