<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-back-button text="back" icon="add"></ion-back-button>
      </ion-buttons>
    <ion-title>Messages</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content fullscreen>
<ion-card>
       <ion-list-header>
                Day
        </ion-list-header> 
    <ion-list>
        <ion-item  [routerLink]="['/teacher/message']">
            <ion-icon slot="start" name="mail">
            </ion-icon>
            <ion-note>
                <h6>Message Title</h6>
                <p>Details Details Details Details Details Detais...</p>
            </ion-note>
        </ion-item>     
    </ion-list>
</ion-card>
</ion-content>

