<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-back-button text="back" icon="add"></ion-back-button>
      </ion-buttons>
    <ion-title>Messages</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content fullscreen>
<ion-card>
<div *ngFor="let log of logs">
       <ion-list-header>
                {{log.date}}
        </ion-list-header> 
        <ion-item  [routerLink]="['/teacher/student-log', log.logID]">
            <ion-icon slot="start" name="mail">
            </ion-icon>
            <ion-note>
                <h6>Re Log {{log.logID}}</h6>
                <p>{{log.note}}</p>
            </ion-note>
        </ion-item>     
</div>
</ion-card>
</ion-content>

