
<ion-content>
  <div id="container"> 
    <!--<ion-button [routerLink]="['/parent']"  routerDirection="root">Parent</ion-button>
    <ion-button [routerLink]="['/teacher']" routerDirection="root">Teacher</ion-button>
  <ion-button (click)="signout()">Log out</ion-button>
<ion-button color = "highlight" [routerLink]="['/createaccount']" routerDirection="root">Create Account</ion-button>
-->

  <h1>School Logger</h1>

  <div class="square">
    
    <img src="https://cdn.pixabay.com/photo/2017/05/15/23/44/heart-icon-2316451_640.png" alt="heart image">
  </div>
  
    <div id="wrapper"> 
     <ion-button color = "highlight" id="login_btn" [routerLink]="['/login']" routerDirection="root">Login</ion-button>
    </div>
  </div>
  </ion-content>
