<ion-header>
  <ion-toolbar>
    <ion-title>Home Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
    <ion-button [routerLink]="['/parent']"  routerDirection="root">Parent</ion-button>
    <ion-button [routerLink]="['/teacher']" routerDirection="root">Teacher</ion-button>
    <ion-button [routerLink]="['/login']" routerDirection="root">Login</ion-button>
    <ion-button [routerLink]="['/createaccount']" routerDirection="root">Create Account</ion-button>
  
  </ion-content>
